<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @staff.surname %>
</p>

<p>
  <strong>Pesel:</strong>
  <%= @staff.pesel %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @staff.occupation %>
</p>

<p>
  <strong>Street:</strong>
  <%= @staff.address.street_name %>
</p>

<p>
  <strong>Street no:</strong>
  <%= @staff.address.street_no %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @staff.address.postal_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @staff.address.city %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
